<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glyph | Chart</title>
</head>
<body>
    
<h1 id="emoji-data">{{content.Occurrences, content.Positive , content.Negative , content.Neutral}}</h1>

<div id="display_chart" style="width: auto; height: 80vh"></div>

</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{url_for('static', filename="Script/main.js")}}"></script>
</html>